{{!-- public/views/reset.handlebars --}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome to Uevent</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #333;
    }

    p {
      color: #666;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Скидання пароля</h1>
    <p>Для скидання паролю перейдіть за посиланням нижче.</p>
    <a href="{{link}}">{{link}}</a>
    <p>З Uevent ви зможете насолоджуватися багатьма корисними функціями та можливостями, включаючи:</p>
    <p>Не соромтеся звертатися до нас у разі будь-яких питань чи потреби допомоги.</p>
    <p>Дякуємо, що обрали наш додаток!</p>
    <hr/>
    <div>
      © 2024 Uevent
    </div>
  </div>
</body>
</html>