@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

.App {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #eb823c;
  color: rgb(255, 247, 240);
}

.App h1 {
  text-align: center;
  font-size: 70px;
}

.App h3 {
  position: relative;
  text-align: center;
  font-size: 50px;
  top: -20px;
}


.my-form {
  padding: 50px;
  background: #ffa970;
  border: #a05828;
  border-width: 2px;
  border-style: solid;
  border-radius: 45px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.397);
  max-width: 400px;
}

.formInput {
  font-size: 1.2em;
  margin: auto;
  text-align: center;
  margin: 15px;
}

.formInput input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.692);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: 300;
}

.formInput label {
  margin-top: 10px;
}

.App button {
  appearance: none;
  outline: 0;
  background-color: #d86519;
  border-color: #a05828;
  border: 3;
  padding: 10px 15px;
  font-weight:600;
  margin: 0 auto 10px auto;
  display: block;
  color: #ffffff;
  border-radius: 10px;
  width: 200px;
  font-size: 18px;
}

.App button:hover {
  background-color: rgb(179, 130, 90);
}

.App form div {
  color: #fff;
  opacity: 0.8;
  align-items: center;
}

.formInput span {
  text-align: center;
  font-size: 15px;
  font-family: monospace;
  padding: 3px;
  color: rgb(73, 0, 0);
  display: none;
}


.user-duplicate {
  padding: 10px;
  font-size: 25px;
  color: rgb(73, 0, 0);
}

.user-created {
  padding: 10px;
  font-size: 25px;
  color:#f9ece4;
}

.formInput input:invalid[focused="true"] {
  border: 1px solid rgb(73, 0, 0);
}

.formInput input:invalid[focused="true"] ~ span {
  display: block;
}

.homenav-signup {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #d86519;
  color: #E4F9F5;
  top: 0px;
  border-bottom: 3px solid #a05828;
}

.homenav-signup h1 {
  font-size: 3rem;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 80px;
}

.homenav-signup a {
font-weight: 500;
font-size: 1.2em;
margin-left: 16px;
text-decoration: none;
padding: 6px;
color: #E4F9F5;
cursor: pointer;
}

.homenav-signup a:active {
color: #f1356d;
border-bottom: 2px solid #b46422;
}

.homenav-signup a:hover {
color: #f1356d;
}